<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
       default-autowire="byName">

    <!-- 仅加载controller代码  产生的容器是子容器 父容器是spring-config.xml文件加载的容器 -->
    <!-- 全部都由子容器加载也是可以的 -->
    <!-- controller代码必须在自容器-->
    <context:component-scan base-package="com.github.controller"/>

    <!-- 如果不需要对子容器中的类创建代理的话  就不需要写下面这段配置-->
    <!-- 一般不对controller做代理 而是对service代理 所以这里就不配置了-->
    <!--<aop:aspectj-autoproxy expose-proxy="true"/>-->

    <context:property-placeholder order="2" ignore-unresolvable="true" location="classpath:config-sunms-dev.properties"/>

    <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/jsp/">
        </property>
        <property name="suffix" value=".jsp">
        </property>
    </bean>

</beans>